@import '../settings.css';

.sectionTitle {
  font-size: var(--size-14);
  font-weight: var(--font-weight-bold);
  line-height: var(--size-18);
  margin-bottom: var(--size-14);

  @media (--tablet-breakpoint) {
    font-size: var(--size-24);
    line-height: var(--size-32);
  }
}
