@import '../settings.css';

.text {

  margin-bottom: var(--size-18);

  font-family: var(--font-family-open-sans);
  font-size: var(--size-14);
  font-weight: normal;
  line-height: var(--size-18);
  text-align: justify;

  @media (--tablet-breakpoint) {
    font-size: var(--size-18);
    line-height: var(--size-24);
  }
}
