@import '../../src/components/settings.css';

a,
a:visited {
  color: #000;

  text-decoration: none;
}

a:hover {
  color: var(--color-snow-blue);
}

.blogWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogTitle {
  display: flex;
  flex-direction: row;
  align-items: start;

  color: var(--color-snow-black);
}

.blogContent {
  color: var(--color-snow-black);

  font-size: var(--size-18);
  line-height: var(--size-24);

  @media (--tablet-breakpoint) {
    margin: var(--size-32) auto;
  }
}

.blogNavigation {
  display: flex;
}

.previousLink,
.nextLink,
.homeLink {
  width: var(--size-76);
  height: var(--size-76);
  margin-top: var(--size-14);

  color: #000;

  font-size: var(--size-14);

  font-weight: var(--font-weight-bold);
  line-height: var(--size-18);

  @media (--tablet-breakpoint) {
    margin: 0 var(--size-24);

    font-size: var(--size-18);
    line-height: var(--size-24);
  }
}
