@import '../../src/components/settings.css';

a,
a:visited {
  color: #000;

  text-decoration: none;
}

a:hover {
  color: var(--color-snow-blue);
}

.blogWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blogBackToHomepage {
  margin: var(--size-24);

  color: var(--color-snow-black);

  font-size: var(--size-18);

  font-weight: var(--font-weight-bold);
  line-height: var(--size-24);

  @media (--tablet-breakpoint) {
    margin: var(--size-32) auto;
  }
}

.blogTitle {
  display: flex;
  flex-direction: row;
  align-items: start;

  color: var(--color-snow-black);

  font-weight: var(--font-weight-bold);
}

.blogContent {
  width: 100%;

  color: var(--color-snow-black);

  font-size: var(--size-18);
  line-height: var(--size-24);

  @media (--tablet-breakpoint) {
    margin: var(--size-32) auto;
  }
}

.blogNavigation {
  display: flex;
}
