@import '../settings.css';

.title {

  margin-bottom: var(--size-18);

  font-family: var(--font-family-lato);
  font-size: var(--size-32);
  font-weight: var(--font-weight-bold);
  line-height: var(--size-42);

  @media (--tablet-breakpoint) {
    font-size: var(--size-32);
    line-height: var(--size-42);
  }
}
