@import '../settings.css';

.layout {
  font-family: 'Open Sans', georgia, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
  padding: var(--size-42) var(--size-24);
  margin-right: auto;

  margin-left: auto;
}
