@import '../settings.css';

.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  color: var(--color-snow-black);

  font-family: var(--font-family-monsterrat);

  font-family: var(--font-family-monsterrat);

  grid-auto-flow: row;
}

.headerTitle {
  font-size: var(--size-32);
  font-weight: var(--font-weight-bold);
  line-height: var(--size-42);

  @media (--tablet-breakpoint) {
    font-size: var(--size-32);
    line-height: var(--size-42);
  }
}

.headerDescription {
  font-size: var(--size-18);
  line-height: var(--size-24);

  @media (--tablet-breakpoint) {
    padding: var(--size-32);

    font-size: var(--size-24);

    line-height: var(--size-32);
  }
}
